body{
   background-image: url('C:/Users/ADS/Documents/aula/stars-12673.gif');
   background-size: cover; /* Para cobrir toda a área do body */
   background-repeat: no-repeat; /* Para evitar a repetição do GIF */
}
